<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sign-In</h1>
        <form id="signInForm" action="/signin" method="post">
            <input type="email" placeholder="Email" required name="userEmail">
            <input type="password" placeholder="Password" required name="password">
            <button type="submit" class="signin-btn">Sign-In</button>
        </form>
    </div>
</body>
</html>
