<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Sign-Up</h1>
        <form id="signUpForm" action="/signup" method="post">
            <input type="text" placeholder="Username" required name="username" id="username" onkeyup="checkUsername()">
            <div id="username-message"></div>
            <input type="email" placeholder="Email" required name="userEmail">
            <input type="password" placeholder="Password" required name="password">
            <button type="submit" class="signup-btn">Sign-Up</button>
        </form>
    </div>
    <script src="/javascripts/sign-up.js"></script>
</body>
</html>
